<% layout('layouts/boilerplate')%>
    <h1>Search results</h1>

    <% for (let search of searches) {%>

        <% if(user.id !== search.id) {%>

            <form action="/sendfriendrequest" method="POST" class="" novalidate>

                <div class="mb-3">
                    <p>
                        <%= search.username%>
                    </p>
                    <input class="form-control" type="hidden" id="" name="friend" value="<%= search.id%>">
                </div>

                <% if(!user.friends.includes(search.id) && !user.friendRequestsSent.includes(search.id) &&
                    !user.friendRequestsRecieved.includes(search.id)) { %>

                    <div class="mb-3">
                        <button class="btn btn-success">Add Friend</button>
                    </div>

                    <% } %>

                        <% if(user.friendRequestsSent.includes(search.id)) { %>

                            <div class="mb-3">
                                <button class="btn btn-success" formaction="/cancelfriendrequest">Cancel Friend
                                    Request</button>
                            </div>

                            <% } %>

                                <% if(user.friendRequestsRecieved.includes(search.id) ) { %>

                                    <div class="mb-3">
                                        <button class="btn btn-success" formaction="/addfriend">Add Friend</button>
                                        <button class="btn btn-success"
                                            formaction="/declineFriendRequest">Decline</button>
                                    </div>

                                    <% } %>

                                        <% if(user.friends.includes(search.id) ) { %>

                                            <div class="mb-3">
                                                <button class="btn btn-success" formaction="/deletefriend">Delete
                                                    Friend</button>
                                            </div>

                                            <% } %>

            </form>
            <% } %>

                <% } %>